* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    min-height: 100vh;
    width: 98.7vw;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

nav div h3 {
    margin-right: 20px;
}

nav {
    background-color: black;
    margin-bottom: 20px;
    width: 98.7vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

nav h2,
nav h3,
nav div {
    display: inline-block;
}

.intro {
    width: 100%;
    padding-top: 100px;
}

.intro .description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./images/background1.jpg);
    background-size: 100% 100%;
}

.intro .description img {
    height: 500px;
    width: 500px;
    border-radius: 50%;
}

.intro .description p {
    font-size: larger;
    color: white;
}

.academics-container h2 {
    text-align: center;
    width: 100%;
    font-size: 40px;
}

.academics-box {
    display: flex;
    justify-content: space-around;
}

.academics h3 {
    text-align: center;
}

.academics {
    width: 250px;
    border: 2px solid black;
    display: inline-block;
    height: 300px;
    background-color: cyan;
    border-radius: 10px;
    padding: 10px 5px;
    box-sizing: border-box;
}

i {
    font-size: 14px !important;
}

.skills h2 {
    text-align: center;
    font-size: 40px;
}

.skill-logo img {
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.logo-container-1 {
    display: flex;
    justify-content: space-around;
}

.logo-container-2 {
    display: flex;
    justify-content: space-around;
}