* {
    font-family: 'Ubuntu', sans-serif;
    transition: 0.1s ease-in-out;
}

body {
    min-height: 100vh;
    width: 98.7vw;
    margin: 0;
    background-color: #FFF200;
}

span {
    display: inline-block;
}

button {
    outline: 0px;
    height: 30px;
    width: 80px;
}

nav h2 span,
nav h3 span {
    display: inline-block;
    cursor: pointer;
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
}

nav div h3 {
    margin-right: 20px;
}

nav {
    background-color: black;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

nav h2,
nav h3,
nav div {
    display: inline-block;
}

.headings {
    background-color: #1e1c0c;
    color: white;
}

.main {
    width: 100%;
    padding-top: 100px;
}

.main .description {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

.description p {
    font-size: 40px;
    color: black;
}

.description p:nth-last-of-type(1) {
    font-size: 30px;
    color: black;
}

.description>div {
    text-align: center;
}

.main .description img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.main .description i {
    font-size: 35px;
    color: black;
    margin: 10px 10px;
    box-sizing: border-box;
}

.main .description i:hover {
    transform: translateY(-10px);
}

.About {
    background-color: rgb(0, 247, 255);
    text-align: start;
    height: 200px;
    margin: 40px 0px;
}

.About div {
    padding-top: 50px;
    padding-left: 50px;
}

.About div {
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    font-family: 'Nanum Gothic', sans-serif;
}

.academics-container h2 {
    text-align: center;
    width: 100%;
    font-size: 40px;
}

.academics-container i {
    margin: 0 10px;
}

.academics-box {
    display: flex;
    justify-content: space-around;
    line-height: 30px
}

.academics h3 {
    text-align: center;
    border-bottom: 2px solid black;
}

.academics {
    width: 250px;
    border: 2px solid black;
    display: inline-block;
    height: 300px;
    background-color: rgb(0, 247, 255);
    border-radius: 10px;
    box-sizing: border-box;
}


.achivements a {
    text-decoration: none;
    color: black;
}

.achivements h2 {
    font-size: 40px;
    text-align: center;
}

.achivements ul li {
    box-sizing: border-box;
    list-style: none;
    display: block;
    margin: 20px 0px;
    font-size: 20px;
    padding: 15px;
    height: 50px;
}

.achivements ul {
    display: block;
    text-align: center;
    padding-left: 0px;
}

.projects-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 300px;
    margin-bottom: 20px;
}

.projects h2 {
    text-align: center;
    font-size: 40px;
}

.projects-container>div {
    border: 2px solid black;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 247, 255);
    border-radius: 10px;
    box-sizing: border-box;
    width: 250px;
    height: 300px;
}

.projects a {
    text-decoration: none;
    color: inherit;
}

.projects a:hover {
    text-decoration: underline;
    color: wheat;
}

.project-heading {
    text-align: center;
    border-bottom: 2px solid black;
}

.certificates h2 {
    text-align: center;
    font-size: 40px;
}

.certifiactes-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.certificates a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.certificates a:hover {
    text-decoration: blue underline;
    color: rgb(20, 20, 20);
}

.certificates a:visited {
    color: black;
}

.certificates img {
    height: 300px;
    width: 400px;
    margin: 0px;
    padding: 0px;
}

.certificates>div>div {
    display: inline-block;
}

.sideBar-responsive {
    height: 100vh;
    width: 200px;
    position: fixed;
    background-color: beige;
    border: 2px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    left: -210px;
    z-index: 15;
}

.sideBar-responsive a {
    text-decoration: none;
    color: black;
}

.overlay {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.5;
    z-index: 10;
}

.display {
    display: block;
}

.icons {
    display: none;
    position: fixed;
}

.sideBar-click {
    left: 0;
}

footer {
    width: 100%;
    height: 200px;
    color: white;
    background-color: #343a40;
}

footer>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
}

footer div div {
    display: inline-block;
}

footer h4 {
    margin: 20px 0px;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer ul li {
    list-style: none;
    padding: 0px;
    margin: 10px 0px;
}

footer ul {
    padding: 0px;
}

.footer-scroll {
    cursor: pointer;
}

.code {
    height: 20%;
    width: 100%;
    background-color: azure;
    color: black;
}

@media(max-width: 800px) {
    .About div {
        font-size: 18px;
        padding: 20px 10px;
    }
    .description p:nth-of-type(1) {
        font-size: 30px;
    }
    .description p:nth-of-type(2) {
        font-size: 25px;
    }
    .academics-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .academics {
        margin: 10px 0px;
    }
    .certifiactes-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0px;
    }
    .logo-container-1,
    .logo-container-2,
    .logo-container-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0px;
    }
    .logo-container-1>div,
    .logo-container-2>div,
    .logo-container-3>div {
        margin: 5px 0px;
    }
    .About {
        height: 250px;
    }
}

@media(max-width: 500px) {
    body {
        width: 100vw;
    }
    .description p:nth-of-type(1) {
        font-size: 25px;
    }
    .description p:nth-of-type(2) {
        font-size: 20px;
    }
    .logo-container-1,
    .logo-container-2,
    .logo-container-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0px;
    }
    .logo-container-1>div,
    .logo-container-2>div,
    .logo-container-3>div {
        margin: 5px 0px;
    }
    .certifiactes-container img {
        display: none;
    }
    .certifiactes-container a {
        text-decoration: underline blue;
    }
    nav h3 {
        display: none;
    }
    nav {
        display: flex;
        justify-content: center;
    }
    .icons {
        display: inline-block;
        font-size: 40px !important;
        color: white;
        margin: 10px 0px;
        position: fixed;
        cursor: pointer;
        left: 90vw;
    }
}